Source: osslsigncode
Maintainer: Stephen Kitt <skitt@debian.org>
Section: otherosfs
Priority: optional
Build-Depends: debhelper-compat (= 13),
               cmake,
               libcurl4-openssl-dev,
               libssl-dev,
# Test dependencies
               faketime,
               openssl,
Standards-Version: 4.6.1
Vcs-Browser: https://salsa.debian.org/debian/osslsigncode
Vcs-Git: https://salsa.debian.org/debian/osslsigncode.git
Homepage: https://github.com/mtrojnar/osslsigncode
Rules-Requires-Root: no

Package: osslsigncode
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Authenticode signing tool
 osslsigncode is an Authenticode signing tool for PE binaries
 (Windows executables, DLLs, drivers...), CAB archives and MSI
 installation packages. It also supports timestamping using
 Authenticode and RFC-3161.
